@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;500&display=swap');

.carros-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    width: 280px;
    height: 380px;
    border-radius: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 20px;
}

